<script>
	// External libraries imports
  import { isSameMonth, parseISO } from "date-fns";
	// Custom stores imports
  import { queryStore, filteredData } from "../queryStore";
  import { timelineStore, currentMonth } from "../timeline/timelineStore";
	// UI Imports
  import Card from "svelte-materialify/src/components/Card/Card.svelte";
  import CardText from "svelte-materialify/src/components/Card/CardText.svelte";
  import List from "svelte-materialify/src/components/List/List.svelte";
	// Svelte's components imports
  import AgendaCard from "./AgendaCard.svelte";
  import EventCard from "./EventCard.svelte";
  import Loading from "../Loading.svelte";

  let eventData = [];
  $: {
    eventData = $filteredData
      .filter((visit) => {
        return visit.data.events != null;
      })
      .flatMap((visit) => {
        let events = visit.data.events.map((event) => {
          event.visit = visit;
          return event;
        });

        return events.filter((event) => {
          return isSameMonth(parseISO(event.date), $timelineStore.date);
        });
      });
  }
</script>

{#if $queryStore.isFetching}
  <Loading />
{:else if $queryStore.error}
  <Card>
    <CardText>
      Il n'y a eu une erreur dans la récupération des données :
      {$queryStore.error.message}
    </CardText>
  </Card>
{:else if $filteredData}
  {#if $filteredData.length > 0}
    <h4 style="text-align: center;">En {$currentMonth} à l'Hôtel Pasteur</h4>
    <!-- content here -->
    {#if eventData.length != 0}
      <List>
        <h5>Les rendez-vous</h5>
        {#each eventData as event}
          <EventCard {event} />
        {/each}
      </List>
    {/if}
    <h5>Les séjours</h5>
    {#each $filteredData as visit}
        <AgendaCard {visit} />
    {/each}
  {:else}
    <Card>
      <CardText>Il n'y a pas de séjours à la date sélectionnée</CardText>
    </Card>
  {/if}
{/if}
