<script>
  // External libraries imports
  import { parseISO, isSameMonth} from "date-fns";
  // Custom stores imports
  import { timelineStore } from "../timeline/timelineStore";
  // UI Imports
  import Button from "svelte-materialify/src/components/Button/Button.svelte";
  import Card from "svelte-materialify/src/components/Card/Card.svelte";
  import CardTitle from "svelte-materialify/src/components/Card/CardTitle.svelte";
  import CardText from "svelte-materialify/src/components/Card/CardText.svelte";
  import CardActions from "svelte-materialify/src/components/Card/CardActions.svelte";
  import Chip from "svelte-materialify/src/components/Chip/Chip.svelte";
  import Col from "svelte-materialify/src/components/Grid/Col.svelte";
  import Icon from "svelte-materialify/src/components/Icon/Icon.svelte";
  import Row from "svelte-materialify/src/components/Grid/Row.svelte";
  import { mdiChevronDown, mdiPlus } from "@mdi/js";

  export let visit;
  let active;
  let innerWidth;
  let visitToggle = false;
  function toggle() {
    visitToggle = !visitToggle;
  }
  import CardDate from "../Card/CardDate.svelte";
  import CardHeaderImage from "../Card/CardHeaderImage.svelte";

  let tabs = [];

  import IntersectionObserver from "svelte-intersection-observer";
  import { fly } from "svelte/transition";

  let element;
  let intersecting;

  $: {
    if (visit.data.events) {
      tabs = visit.data.events
        .filter((event) => {
          return isSameMonth(parseISO(event.date), $timelineStore.date);
        })
        .map((event, key) => {
          event.key = key;
          return event;
        });
      active = tabs[0];
    }
  }
</script>

<svelte:window bind:innerWidth />

<IntersectionObserver once={true} {element} bind:intersecting>
  <div class="visit" bind:this={element}>
    {#if intersecting}
      <div class="visit-wrapper" transition:fly={{ y: 200, delay: 300 }}>
        <!-- content here -->
        {#if visit.featuredImage}
          <CardHeaderImage {visit} />
        {/if}
        <Card tile class="visit-content">
          <CardTitle style="justify-content: center;">
            <h5 style="border-color: {visit.data.color};">
              <a
                href={`${visit.uri}?index=${
                  !("visitIndex" in visit.data) || visit.data.visitIndex === 0
                    ? 0
                    : visit.data.visitIndex
                }`}>{visit.title}</a
              >
            </h5>
          </CardTitle>
          <div class="visit-inner-wrapper" style="min-height: 10rem;">
            <div class="visit-inner">
              <CardDate {visit} />
              <Row>
                <Col style="text-align: center">
                  {#if visit.data.activity.length != 0}
                    {#each visit.data.activity as activity}
                      <Chip outlined class="ma-2 primary-text" size="x-small">
                        {activity.name}
                      </Chip>
                    {/each}
                  {/if}
                </Col>
              </Row>
              <Row>
                {#if innerWidth < 800}
                  <CardActions style="width: 100%;">
                    <Button
                      ripple={false}
                      block
                      tile
                      depressed
                      on:click={toggle}
                      style="align-self: center; cursor: pointer;"
                    >
                      <Icon
                        path={mdiChevronDown}
                        style="color:{visit.data.color}"
                        rotate={visitToggle ? 180 : 0}
                      />
                    </Button>
                  </CardActions>
                {/if}

                {#if visitToggle || innerWidth > 800}
                  <CardText>
                    <p style="text-align: justify; width: 90%; margin: auto;">
                      {visit.data.excerpt}
                    </p>
                  </CardText>
                  <CardActions style="margin: auto;">
                    <Button ripple={false} fab depressed size="small">
                      <a
                        href={`${visit.uri}?index=${
                          !("visitIndex" in visit.data) ||
                          visit.data.visitIndex === 0
                            ? 0
                            : visit.data.visitIndex
                        }`}
                      >
                        <Icon style="color:{visit.data.color}" path={mdiPlus} />
                      </a>
                    </Button>
                  </CardActions>
                {/if}
              </Row>
            </div>
          </div>
        </Card>
      </div>
    {/if}
  </div>
</IntersectionObserver>

<style>
  .visit {
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 5px;
    margin-top: 2rem;
  }
  .visit-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
  }
  :global(.visit-content) {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    text-align: center;
  }
  .visit-inner-wrapper {
    display: flex;
    transition: height ease 200ms;
    position: relative;
  }
  h5 {
    margin: 0;
    max-width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.8rem;
    line-height: 1;
    text-decoration: none;
    font-variant-caps: all-small-caps;
    border-bottom: 4px solid;
    padding-bottom: 1rem;
  }
  h5 > a {
    text-decoration: none;
    font-weight: 100;
  }
  .visit-inner {
    width: 100%;
  }
  .visit-inner p {
    margin-bottom: 0;
    position: relative;
  }
  :global(.s-chip) {
    margin: 0.2rem;
  }

  @media screen and (max-width: 800px) {
    :global(.visit-content) {
      width: 100%;
    }
  }

  @media screen and (max-width: 800px) {
    .visit-wrapper {
      flex-direction: column;
    }
  }
</style>
