<script>
	// External libraries imports
  import { format, parseISO } from "date-fns";
  import { fr } from "date-fns/locale";
	// UI Imports
  import Chip from "svelte-materialify/src/components/Chip/Chip.svelte";
  import Icon from "svelte-materialify/src/components/Icon/Icon.svelte";
  import { mdiChevronRight } from "@mdi/js";
	// Transition imports
  import { slide } from "svelte/transition";

  export let event;
  let visitToggle = false;
  function toggle() {
    visitToggle = !visitToggle;
  }
</script>

<!-- content here -->
<!-- svelte-ignore a11y-click-events-have-key-events -->
<div class="event-row" on:click={() => toggle()}>
  <div class="event-header">
    <div
      class="event-circle"
      style="background-color: {event.visit.data.color};"
    />
    <p>
      <b>
        Le {format(parseISO(event.date), "ccc d LLL y à k:mm", {
          locale: fr,
        })}
      </b>
      – <b>{event.title}</b>
      par <b>{event.visit.title}</b>
    </p>
    <Icon
      path={mdiChevronRight}
      style="color:{event.visit.data.color}"
      rotate={visitToggle ? 90 : 0}
    />
  </div>
  {#if visitToggle}
    <div class="event-content" transition:slide>
      <div class="event-meta">
        A {format(parseISO(event.date), " H'h'mm'min'", {
          locale: fr,
        })}
        {#if event.place}
          dans <b>{event.place.name}</b>
        {/if}
        {#if event.jauge}
          <Chip size="small">
            {event.jauge}
          </Chip>
        {/if}
      </div>
      <p>
        {@html event.shortDescription}
      </p>
    </div>
  {/if}
</div>

<style>
  .event-row {
    margin-left: 20px;
  }
  .event-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: baseline;
  }
  .event-circle {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(0, -50%);
    border: solid #fff 1px;
    border-radius: 50%;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  .event-header p {
    margin: auto auto auto 0;
  }
  .event-meta {
    margin-top: 1rem;
  }
</style>
