<script>
	// Transition imports
  import { slide } from "svelte/transition";
  
  export let visit;
</script>

<div class="featured-image" in:slide={{ delay: 200, duration: 500 }}>
  <a
    href={`${visit.uri}?index=${
      !("visitIndex" in visit.data) || visit.data.visitIndex === 0
        ? 0
        : visit.data.visitIndex
    }`}
    class="image-link"
    style="border-color: {visit.data.color};"
  >
    <div class="image-wrapper" style="background-color: {visit.data.color};">
      <img src={visit.featuredImage.node.sourceUrl} alt="" />
    </div>
  </a>
</div>

<style>
  .featured-image {
    display: flex;
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: auto;
  }
  .image-link {
    margin: auto;
    pointer-events: all;
    width: 250px;
    height: 250px;
    background-color: #fff;
    display: flex;
    border: solid 4px;
    border-radius: 50%;
    overflow: hidden;
    transition: width 300ms ease, height 100ms ease;
  }
  .image-link:hover {
    width: 280px;
    height: 280px;
  }
  .image-wrapper {
    margin: auto;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
      0 1px 5px 0 rgb(0 0 0 / 12%);
  }
  img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    filter: contrast(1.1) brightness(1) grayscale(100%);
    mix-blend-mode: luminosity;
    transition: transform ease 200ms, box-shadow ease 200ms;
  }
  .image-link:hover .image-wrapper {
    transform: scale(1.02);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  @media screen and (max-width: 800px) {
    .featured-image {
      width: 100%;
      max-width: 100%;
      height: 200px;
    }
    .image-link {
      width: 170px;
      height: 170px;
    }
    .image-link:hover {
      width: 180px;
      height: 180px;
    }
    .image-wrapper {
      width: 150px;
      height: 150px;
    }
  }
</style>
