<script>
	// External libraries imports
  import { parseISO, format, isSameDay } from "date-fns";
  import { fr } from "date-fns/locale";

  export let visit;
</script>

<p>
  {#if visit.data.isEndDate == "true"}
    {#if isSameDay(parseISO(visit.data.startDate), parseISO(visit.data.endDate))}
      Le
      {format(parseISO(visit.data.startDate), "d LLL y", {
        locale: fr,
      })}
    {:else}
      Du
      {format(parseISO(visit.data.startDate), "d LLL y", {
        locale: fr,
      })}
      au
      {format(parseISO(visit.data.endDate), "d LLL y", {
        locale: fr,
      })}
    {/if}
  {:else}
    Depuis le
    {format(parseISO(visit.data.startDate), "d LLL y", {
      locale: fr,
    })}
  {/if}
  dans <b>{visit.data.place[0].name}</b>
  {#if visit.data.place.length > 1}
    {#if visit.data.place.length - 1 == 1}
      et un autre espace
    {:else if visit.data.place.length - 1 == 2}
      et deux autres espaces
    {:else if visit.data.place.length - 1 == 3}
      et trois autres espaces
    {:else}
      et {visit.data.place.length - 1} autres espaces
    {/if}
  {/if}
</p>
