<script>
  // Svelte's UI Imports from Svelte Materialify (we import one by one for three shaking)
  import Card from "svelte-materialify/src/components/Card/Card.svelte";
  import CardTitle from "svelte-materialify/src/components/Card/CardTitle.svelte";
  import CardText from "svelte-materialify/src/components/Card/CardText.svelte";
  import Button from "svelte-materialify/src/components/Button/Button.svelte";
  import Icon from "svelte-materialify/src/components/Icon/Icon.svelte";
  import Lazy from "svelte-materialify/src/components/Lazy";
  import { mdiChevronDown } from "@mdi/js";
  // Transition imports
  import { fade, slide } from "svelte/transition";

  let active = false;
  let parser = new DOMParser();
  let doc;
  export let history, index;
  function toggle() {
    active = !active;
  }
  $: {
    doc = parser.parseFromString(history.data.text, "text/html");
  }
</script>

<Lazy>
  <Card tile>
    <article id="history-{index}">
      {#if history.featuredImage}
        <img
          src={history.featuredImage.node.sourceUrl}
          alt={history.featuredImage.node.altText}
        />
      {/if}
      {#if history.title}
        <CardTitle>
          <h4>
            {history.title}
          </h4>
        </CardTitle>
      {/if}
      <CardText>
        {#if doc.body.innerText.length > 200}
          {#if !active}
            <div transition:slide>
              <p transition:fade={{ duration: 50 }}>
                {@html doc.body.children[0].innerHTML.slice(0, 200)}...
                <Button
                  ripple={false}
                  depressed
                  size="small"
                  block
                  on:click={toggle}
                >
                  <Icon path={mdiChevronDown} rotate={active ? 180 : 0} />
                </Button>
              </p>
            </div>
          {:else}
            <div transition:slide>
              <!-- else content here -->
              <div transition:fade={{ duration: 50 }}>
                {#each doc.body.children as node}
                  {#if node.localName === "p"}
                    <p transition:fade={{ duration: 50 }}>
                      {@html node.innerHTML}
                    </p>
                  {:else if node.localName === "blockquote"}
                    <blockquote>
                      {@html node.innerHTML}
                    </blockquote>
                  {:else}
                    <!-- else content here -->
                  {/if}
                {/each}
              </div>
              <Button
                ripple={false}
                depressed
                block
                size="small"
                on:click={toggle}
              >
                {#if active}
                  <Icon path={mdiChevronDown} rotate={active ? 180 : 0} />
                {:else}
                  <Icon path={mdiChevronDown} rotate={active ? 180 : 0} />
                {/if}
              </Button>
            </div>
          {/if}
        {:else}
          <!-- else content here -->
          <div transition:fade={{ duration: 50 }}>
            {#each doc.body.children as node}
              {#if node.localName === "p"}
                {@html node.innerHTML}
              {:else if node.localName === "blockquote"}
                {@html node.innerHTML}
              {:else}
                <!-- else content here -->
              {/if}
            {/each}
          </div>
        {/if}
      </CardText>
    </article>
  </Card>
</Lazy>

<style>
  h4 {
    text-align: right;
    width: 100%;
  }
  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin: auto;
  }
</style>
