<script>
  // Transition imports
  import { fade } from "svelte/transition";
</script>

<g
  id="g1281"
  transform="matrix(1.1531527,0,0,1.1531527,-1.9478769,-1.5429633)"
  in:fade={{ duration: 100, delay: 0 }}
  out:fade={{ duration: 100, delay: 50 }}
>
  <polygon
    fill="none"
    stroke="#000000"
    stroke-width="4"
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-miterlimit="10"
    points="32.1,83.2 9,68.5 53.7,43.2 76.8,57.9 "
    id="polygon2"
    transform="matrix(0.28559212,0,0,0.28559212,-0.14084704,-2.3354436)"
  />
  <polygon
    stroke="#000000"
    stroke-width="4"
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-miterlimit="10"
    points="76.8,38 60.2,27.4 32.1,43.2 25.6,39.1 9,48.5 32.1,63.2 "
    id="polygon6"
    transform="matrix(0.28559212,0,0,0.28559212,-0.16535259,-0.34451633)"
  />
  <polygon
    fill="none"
    stroke="#000000"
    stroke-width="4"
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-miterlimit="10"
    points="32.1,83.2 9,68.5 53.7,43.2 76.8,57.9 "
    id="polygon2-3"
    transform="matrix(0.28559212,0,0,0.28559212,-0.14084705,-10.116109)"
    style="fill:#ffffff;fill-opacity:1"
  />
  <path
    d="m 15.161882,1.7013711 a 0.57124136,0.57124136 0 0 0 -0.264396,0.073629 L 2.1311839,8.9716986 A 0.57124136,0.57124136 0 0 0 2.1049675,9.9511904 L 8.702034,14.149172 a 0.57124136,0.57124136 0 0 0 0.5873602,0.01562 L 22.055139,6.9680916 a 0.57124136,0.57124136 0 0 0 0.02622,-0.9794918 l -6.59707,-4.1979812 a 0.57124136,0.57124136 0 0 0 -0.322407,-0.089247 z m -0.0017,1.2366362 5.504342,3.5029658 L 9.02666,13.001783 3.52233,9.4988171 Z"
    id="polygon4"
    style="color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-feature-settings:normal;font-variation-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;shape-margin:0;inline-size:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill:none;fill-opacity:1;fill-rule:nonzero;stroke:#ffffff;stroke-width:0.285592;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate;stop-color:#000000"
  />
</g>
