<script>
  // Custom stores imports
  import {
    timelineStore,
    dayInMonth,
    numberOfDayInMonth,
  } from "./timelineStore";

  // Transition imports
  import { fade } from "svelte/transition";

  export let top = 0, timelineWidth, timelineHeight;

  let firstClickFlag = true,
    fakeThumb,
    sliderWidth,
    value;
  $: {
    value = $dayInMonth;
  }
  const map = (value, x1, y1, x2, y2) =>
    ((value - x1) * (y2 - x2)) / (y1 - x1) + x2;
  // We create another reactive declaration to nor interfere with value variable
  $: {
    sliderWidth = timelineWidth - timelineWidth / $numberOfDayInMonth + 10;
    if (fakeThumb && sliderWidth) {
      // We get the fake thumb position by mapping value with sliderWith minus the fake thumb width
      let thumbX = map(value, 1, $numberOfDayInMonth, 0, sliderWidth - 10);
      fakeThumb.style.left = thumbX + "px";
    }
  }
  function updateDate() {
    firstClickFlag = false;
    timelineStore.setDate(value);
  }
</script>

<div
  id="range-wrapper"
  style="width: {sliderWidth}px;
        top: {top}px;
        left: {timelineWidth / ($numberOfDayInMonth * 2) - 5}px;
        height: {timelineHeight}px;"
>
  <input
    transition:fade={{ delay: 300, duration: 300 }}
    id="cursor"
    type="range"
    min="1"
    max={$numberOfDayInMonth}
    bind:value
    on:input={updateDate}
  />
  <div bind:this={fakeThumb} on:drag={updateDate} id="fake-thumb">
    <div id="fake-thumb-top" />
    <div id="fake-thumb-inner" class:first-click-animation={firstClickFlag} />
    <div id="fake-thumb-bottom" />
  </div>
</div>

<style>
  #range-wrapper {
    position: absolute;
  }
  #cursor {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 100%;
    user-select: none;
    cursor: pointer;
    z-index: 2;
    margin: 0;
    padding: 0;
    border: none;
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }
  #fake-thumb {
    width: 10px;
    height: 90%;
    top: 50%;
    transform: translate(0, -50%);
    display: grid;
    grid-template-rows: 1fr 50px 1fr;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    transition: left 0.3s 50ms;
  }
  #fake-thumb-top {
    width: 2px;
    grid-row: 1;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 30%), 0 2px 2px 0 rgb(0 0 0 / 30%),
      0 1px 5px 0 rgb(0 0 0 / 20%);
    border-radius: 10px;
  }
  #fake-thumb-inner {
    height: 50px;
    border: solid #fff 2px;
    border-radius: 10px;
    background: #fff0;
    position: absolute;
    transform: scale(1.1);
    width: 100%;
    grid-row: 2;
    box-shadow: inset 0px 0px 2px rgb(0 0 0 / 30%),
      0 3px 1px -2px rgb(0 0 0 / 30%), 0 2px 2px 0 rgb(0 0 0 / 30%),
      0 1px 5px 0 rgb(0 0 0 / 20%);
  }
  #fake-thumb-bottom {
    width: 2px;
    grid-row: 3;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 30%), 0 2px 2px 0 rgb(0 0 0 / 30%),
      0 1px 5px 0 rgb(0 0 0 / 20%);
    border-radius: 10px;
  }
  .first-click-animation {
    animation: pulse 1s ease 0s infinite;
  }
  @keyframes pulse {
    0% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1.1);
    }
  }
  #cursor::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  #cursor:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

  #cursor::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  /* Special styling for WebKit/Blink */
  #cursor::-webkit-slider-thumb {
    opacity: 0;
    height: 50px;
    width: 10px;
  }
  /* All the same stuff for Firefox */
  #cursor::-moz-range-thumb {
    opacity: 0;
    height: 50px;
    width: 10px;
  }

  /* All the same stuff for IE */
  #cursor::-ms-thumb {
    border: solid #fff 2px;
    height: 50px;
    width: 10px;
    border-radius: 10px;
    background: #fff0;
    cursor: pointer;
    pointer-events: all;
    position: relative;

    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.3),
      0 3px 1px -2px rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.3),
      0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
</style>
