<script>
  // External libraries imports
  import {
    parseISO,
    differenceInDays,
    isWithinInterval,
    format,
    isSameDay,
  } from "date-fns";
  import { fr } from "date-fns/locale";
  // Custom stores imports
  import { timelineStore, numberOfDayInMonth } from "./timelineStore";
  // Transition imports
  import { fade } from "svelte/transition";

  export let startDate, endDate, isEndDate, color, events, timelineWidth;

  let startOffset;
  let endOffset;
  let startDateISO = parseISO(startDate);
  let endDateISO = parseISO(endDate);

  function getEventOffset(date) {
    return format(parseISO(date), "d", { locale: fr }) - startOffset;
  }

  $: {
    startDateISO = parseISO(startDate);
    endDateISO = parseISO(endDate);
    if (isWithinInterval(startDateISO, $timelineStore.interval)) {
      startOffset =
        differenceInDays(parseISO(startDate), $timelineStore.interval.start) +
        1;
    } else {
      startOffset = 1;
    }
    endOffset = $numberOfDayInMonth; // Else value
    if (isEndDate === "true") {
      if (isWithinInterval(endDateISO, $timelineStore.interval)) {
        endOffset =
          differenceInDays(parseISO(endDate), $timelineStore.interval.start) +
          1;
      }
    }
  }
</script>

<div
  class="line-wrapper"
  style="grid-column:
  {startOffset} / {endOffset};
  {isSameDay(startDateISO, endDateISO) ? 'padding-right:40%;' : ''}"
>
  <div
    class="line"
    style="background-color: {color};
        grid-template-columns: repeat(
          {endOffset - startOffset > 1 ? endOffset - startOffset : 1},
          {timelineWidth / $numberOfDayInMonth}px);"
          in:fade={{ delay: Math.random()*500, duration: 150 }}
  >
    {#if events}
      {#each events as event}
        {#if isWithinInterval(parseISO(event.date), $timelineStore.interval)}
          <div
            class="point"
            style="background-color: {color}; grid-column: {getEventOffset(
              event.date
            ) + 1};"
            class:point-active={isSameDay(
              parseISO(event.date),
              $timelineStore.date
            )}
          />
        {/if}
      {/each}
    {/if}
  </div>
</div>

<style>
  .line-wrapper {
    height: 0.2rem;
    display: flex;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 1px;
  }
  .line {
    width: 100%;
    height: 95%;
    display: grid;
    grid-auto-flow: dense;
    grid-gap: 0px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
  }
  .point {
    z-index: 1;
    height: 0.6rem;
    width: 0.6rem;
    border: solid #fff 0.1rem;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: -5px;
    top: -0.2rem;
    transition: transform ease 200ms;
  }
  .point-active {
    transform: scale(1.2);
  }
</style>
