<script>
  // External libraries imports
  import { format, isToday } from "date-fns";
  import { fr } from "date-fns/locale";
  // Custom stores imports
  import { timelineStore, numberOfDayInMonth } from "./timelineStore";
  import { queryStore, timelineData } from "../queryStore";
  // UI Imports
  import Button from "svelte-materialify/src/components/Button/Button.svelte";
  import DatePicker from "svelte-calendar";
  import Icon from "svelte-materialify/src/components/Icon/Icon.svelte";
  import ProgressLinear from "svelte-materialify/src/components/ProgressLinear/ProgressLinear.svelte";
  import { mdiChevronLeft, mdiChevronRight } from "@mdi/js";
  // Svelte's components imports
  import Cursor from "./Cursor.svelte";
  import Line from "./Line.svelte";
  // Transition imports
  import { fade } from "svelte/transition";

  let datePicked, userHasChosenDate;
  const daysOfWeek = [
    ["Dimanche", "Dim"],
    ["Lundi", "Lun"],
    ["Mardi", "Mar"],
    ["Mercredi", "Mer"],
    ["Jeudi", "Jeu"],
    ["Vendredi", "Ven"],
    ["Samedi", "Sam"],
  ];

  const monthsOfYear = [
    ["Janvier", "Jan"],
    ["Février", "Fév"],
    ["Mars", "Mars"],
    ["Avril", "Avr"],
    ["Mai", "Mai"],
    ["Juin", "Juin"],
    ["Juillet", "Juil"],
    ["Août", "Août"],
    ["Septembre", "Sep"],
    ["Octobre", "Oct"],
    ["Novembre", "Nov"],
    ["Décembre", "Déc"],
  ];
  let timeline,
    timelineWidth,
    timelineHeight,
    timelineScrollTop = 0;
  $: {
    if (userHasChosenDate) {
      timelineStore.setDateAbs(datePicked);
      userHasChosenDate = false;
    }
  }
  let onScroll = () => {
    if (timeline) {
      timelineScrollTop = timeline.scrollTop;
    }
  };
  let decrementMonth = () => {
    timeline.scroll(0, 0);
    timelineStore.decrementMonth();
  };
  let incrementMonth = () => {
    timeline.scroll(0, 0);
    timelineStore.incrementMonth();
  };
</script>

<DatePicker
  bind:selected={datePicked}
  bind:dateChosen={userHasChosenDate}
  {daysOfWeek}
  {monthsOfYear}
  weekStart={1}
>
  <Button ripple={false} rounded id="date" style="cursor: pointer;">
    <span transition:fade>
      {isToday($timelineStore.date)
        ? "Aujourd'hui"
        : format($timelineStore.date, "d LLL y", { locale: fr })}
    </span>
  </Button>
</DatePicker>

<div id="timeline-bar">
  <Button fab size="small" on:click={decrementMonth} style="cursor: pointer;">
    <Icon path={mdiChevronLeft} />
  </Button>
  <div
    id="timeline"
    bind:clientWidth={timelineWidth}
    bind:clientHeight={timelineHeight}
    bind:this={timeline}
    on:scroll={onScroll}
  >
    {#if $queryStore.isFetching}
      <!-- If it's fetching show loading -->
      <ProgressLinear indeterminate />
    {:else}
      <!-- If it's not, show timeline -->
      <div
        id="day-lines"
        class="lines"
        style="grid-template-columns: repeat({$numberOfDayInMonth -
          1}, {timelineWidth / $numberOfDayInMonth}px);
          margin-left: {timelineWidth / (2 * $numberOfDayInMonth)}px;"
      >
        {#each $timelineData.dayLines as element}
          <Line
            startDate={element.startDate}
            endDate={element.endDate}
            isEndDate={element.isEndDate}
            color={element.color}
            events={element.events}
            {timelineWidth}
          />
        {/each}
      </div>
      <div
        id="month-lines"
        class="lines"
        style="grid-template-columns: repeat({$numberOfDayInMonth -
          1}, {timelineWidth / $numberOfDayInMonth}px);
            margin-left: {timelineWidth / (2 * $numberOfDayInMonth)}px;"
      >
        {#each $timelineData.monthLines as element}
          <Line
            startDate={element.startDate}
            endDate={element.endDate}
            isEndDate={element.isEndDate}
            color={element.color}
            events={element.events}
            {timelineWidth}
          />
        {/each}
      </div>
    {/if}
    <Cursor top={timelineScrollTop} {timelineWidth} {timelineHeight} />
    <!-- content here -->
  </div>

  <Button fab size="small" on:click={incrementMonth} style="cursor: pointer;">
    <Icon path={mdiChevronRight} />
  </Button>
</div>

<style>
  :global(.datepicker) {
    height: 3em;
    background-color: var(--theme-app-bar);
  }
  :global(.datepicker .contents-wrapper) {
    z-index: 4 !important;
  }
  #timeline-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7em;
    padding: 0 1% 0 1%;
    margin: 2% 0 2% 0;
  }
  #timeline {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    min-height: 50px;
    margin: 1%;
    position: relative;
    min-height: 5em;
    max-height: 7em;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .lines {
    position: relative;
    margin: auto 0 auto 0;
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: row dense;
    grid-row-gap: 1px;
  }
  #month-lines {
    margin-top: 0;
  }
  #day-lines {
    margin-bottom: 0;
  }
  #timeline::-webkit-scrollbar {
    display: none;
  }
</style>
