<script>
  // Custom stores imports
  import { stateStore } from "./components/stateStore";
  // Svelte's components imports
  import Home from './routes/Home.svelte';
  import { initClient } from "@urql/svelte";

  initClient({
    url: API_URL,
  });
  let clientWidth;
</script>

<svelte:window bind:innerWidth={clientWidth} />

<!-- The stateStore and clientWidth verifications are here to
  make sure the app does not necessarily show the scroll bar 
  so that it's prettier and looks "responsive" on different devices. -->
<main
  style="height: {$stateStore.state == 1 ||
  ($stateStore.state == 0 && clientWidth < 1400)
    ? '93vh'
    : 'auto'};"
>
  <Home></Home>
</main>

<style>
  main {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: height ease 200ms;
    transition: height ease 200ms;
  }


  :global(body) {
    --mdc-theme-primary: #444;
    --theme-dividers: #444;
    --theme-app-bar: #fff;
    --theme-icons-inactive: #aaa;
  }
</style>
