<script>
	// UI Imports
  import Dialog from "svelte-materialify/src/components/Dialog/Dialog.svelte";
  import Button from "svelte-materialify/src/components/Button/Button.svelte";
  import Icon from "svelte-materialify/src/components/Icon/Icon.svelte";
  import { mdiChevronLeft, mdiChevronRight } from "@mdi/js";
  // Svelte's components imports
  import DialogInner from "./DialogInner.svelte";
  // Transition imports
  import { fade } from "svelte/transition";

  export let visits = [],
    active;
  let visitIndex = 0;

  $: {
    // If the dialog is toggled, reinitialize the index
    if (active) {
      visitIndex = 0;
    }
  }
  function decrementIndex() {
    if (visitIndex == 0) {
      visitIndex = visits.length - 1;
    } else {
      visitIndex--;
    }
  }
  function incrementIndex() {
    if (visitIndex == visits.length - 1) {
      visitIndex = 0;
    } else {
      visitIndex++;
    }
  }
</script>

{#if visits.length > 0}
  <Dialog bind:active>
    {#key visitIndex}
      <div
        class="dialog-wrapper"
        in:fade={{ delay: 50, duration: 150 }}
        out:fade={{ duration: 150 }}
      >
        {#if visits.length > 1}
          <Button
            fab
            size="small"
            style="position: absolute; bottom:30%; left: -7vw; transform: translate(0, 50%); z-index:4; cursor: pointer; pointer-events: all;"
            on:click={decrementIndex(visitIndex)}
          >
            <Icon path={mdiChevronLeft} />
          </Button>
          <!-- If there is a next visit we show the button  -->
          <Button
            fab
            size="small"
            style="position: absolute; bottom:30%; right: -7vw; transform: translate(0, 50%); z-index:4; cursor: pointer; pointer-events: all;"
            on:click={incrementIndex}
          >
            <Icon path={mdiChevronRight} />
          </Button>
        {/if}
        <DialogInner visit={visits[visitIndex]} bind:active />
      </div>
    {/key}
  </Dialog>
{/if}

<style>
  .dialog-wrapper {
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85vw;
  }
  @media screen and (min-width: 800px) {
    .dialog-wrapper {
      width: 500px;
    }
  }
</style>
