<script>
  // External libraries imports
  import { format, parseISO } from "date-fns";
  import { fr } from "date-fns/locale";

	// UI Imports
  import CardText from "svelte-materialify/src/components/Card/CardText.svelte";
  import CardActions from "svelte-materialify/src/components/Card/CardActions.svelte";
  import Button from "svelte-materialify/src/components/Button/Button.svelte";
  import Icon from "svelte-materialify/src/components/Icon/Icon.svelte";
  import List from "svelte-materialify/src/components/List/List.svelte";
  import Subheader from "svelte-materialify/src/components/Subheader/Subheader.svelte";
  import ListItem from "svelte-materialify/src/components/List/ListItem.svelte";
  import { mdiChevronRight, mdiPlus } from "@mdi/js";

  export let visit, events, eventToToggle, eventToggle;
  function toggleEvent(event) {
    eventToToggle = event;
    eventToggle = true;
  }
</script>

{#if events.length != 0}
  <List>
    <Subheader>Rendez-vous ce mois-ci</Subheader>
    {#each events as event}
      <!-- content here -->
      <ListItem dense ripple={false} on:click={() => toggleEvent(event)}>
        {event.title}
        <span slot="append">
          <Icon path={mdiChevronRight} style="color:{visit.data.color}" />
        </span>
        <span slot="subtitle">
          {format(parseISO(event.date), "ccc d LLL y à k:mm", {
            locale: fr,
          })}
        </span>
      </ListItem>
    {/each}
  </List>
{/if}
<CardText>
  <p>{visit.data.excerpt}</p>
</CardText>
<CardActions style="justify-content: center;">
  <Button ripple={false} fab depressed size="small">
    <a
      href={`${visit.uri}?index=${
        !("visitIndex" in visit.data) || visit.data.visitIndex === 0
          ? 0
          : visit.data.visitIndex
      }`}
    >
      <Icon path={mdiPlus} style="color:{visit.data.color}" />
    </a>
  </Button>
</CardActions>

<style>
  p {
    margin-bottom: 0;
    position: relative;
  }
</style>
