<script>
  // External libraries imports
  import { format, parseISO } from "date-fns";
  import { fr } from "date-fns/locale";
	// UI Imports
  import Button from "svelte-materialify/src/components/Button/Button.svelte";
  import CardActions from "svelte-materialify/src/components/Card/CardActions.svelte";
  import CardText from "svelte-materialify/src/components/Card/CardText.svelte";
  import CardTitle from "svelte-materialify/src/components/Card/CardTitle.svelte";
  import Chip from "svelte-materialify/src/components/Chip/Chip.svelte";
  import Icon from "svelte-materialify/src/components/Icon/Icon.svelte";
  import { mdiEyeOffOutline } from "@mdi/js";

  export let eventToToggle,
    eventToggle,
    isInVisit = true;

  function close() {
    eventToggle = false;
  }
</script>

<CardTitle style="justify-content: center;">
  <h5>
    {eventToToggle.title}
  </h5>
</CardTitle>
<p style="text-align: center">
  Le {format(parseISO(eventToToggle.date), "d LLL y à h:mm", { locale: fr })}
  {#if eventToToggle.place}
    dans <b>{eventToToggle.place.name}</b>
  {/if}

  {#if eventToToggle.jauge}
    <Chip size="small">
      {eventToToggle.jauge}
    </Chip>
  {/if}
</p>

<CardText>
  {#if eventToToggle.shortDescription}
    {@html eventToToggle.shortDescription}
  {/if}
</CardText>
{#if isInVisit}
  <CardActions style="justify-content: center;">
    <Button
      ripple={false}
      fab
      depressed
      size="x-small"
      on:click={close}
      style="cursor: pointer;"
    >
      <Icon path={mdiEyeOffOutline} />
    </Button>
  </CardActions>
{/if}

<style>
  h5 {
    margin: 0;
  }
  h5 {
    font-weight: 400;
  }
  p {
    margin-bottom: 0;
    position: relative;
  }
</style>
