<script>
	// External libraries imports
  import { isSameMonth, parseISO } from "date-fns";
	// Custom stores imports
  import { timelineStore } from "../timeline/timelineStore";
	// UI Imports
  import Card from "svelte-materialify/src/components/Card/Card.svelte";
  import CardTitle from "svelte-materialify/src/components/Card/CardTitle.svelte";
  import Button from "svelte-materialify/src/components/Button/Button.svelte";
  import CardSubtitle from "svelte-materialify/src/components/Card/CardSubtitle.svelte";
  import Icon from "svelte-materialify/src/components/Icon/Icon.svelte";
  import Chip from "svelte-materialify/src/components/Chip/Chip.svelte";
  import { mdiClose } from "@mdi/js";
	// Svelte's components imports
  import CardHeaderImage from "../Card/CardHeaderImage.svelte";
  import CardDate from "../Card/CardDate.svelte";
  import DialogInnerEvent from "./DialogInnerEvent.svelte";
  import DialogInnerContent from "./DialogInnerContent.svelte";
  import Etoile from "../Etoile.svelte";
	// Transition imports
  import { slide } from "svelte/transition";

  export let visit, active;
  let events = [];
  let eventsInSpace = [];
  let eventToggle = false;
  let eventToToggle;
  $: {
    if (visit.data.events) {
      events = visit.data.events.filter((event) => {
        return isSameMonth(parseISO(event.date), $timelineStore.date);
      });
    }
  }
</script>

{#if visit.featuredImage}
  <CardHeaderImage {visit} />
{/if}
<Card tile style="background-color:#fff; pointer-events: all;">
  <div id="pasteur-star">
    <Etoile color={visit.data.color} />
  </div>
  <Button
    size="small"
    fab
    depressed
    style="margin: 10px; position: absolute; cursor: pointer;"
    on:click={() => (active = false)}
  >
    <Icon path={mdiClose} />
  </Button>

  <CardTitle style="justify-content: center;">
    <h5 style="border-color: {visit.data.color};">
      <a href={visit.uri}>{visit.title}</a>
    </h5>
  </CardTitle>
  {#if !eventToggle}
    <CardSubtitle style="text-align: center">
      <CardDate {visit} />
      <div class="activities">
        {#if visit.data.activity.length != 0}
          {#each visit.data.activity as activity}
            <Chip outlined class="ma-2" size="x-small">{activity.name}</Chip>
          {/each}
        {/if}
      </div>
    </CardSubtitle>

    <DialogInnerContent
      {visit}
      {events}
      {eventsInSpace}
      bind:eventToToggle
      bind:eventToggle
    />
  {:else}
    <div
      in:slide={{ delay: 200, duration: 200 }}
      out:slide={{ delay: 0, duration: 200 }}
    >
      <!-- else content here -->
      {#if visit.data.events}
        <DialogInnerEvent {eventToToggle} bind:eventToggle />
      {/if}
    </div>
  {/if}
</Card>

<style>
  h5 {
    margin: 0;
    max-width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.8rem;
    line-height: 1;
    text-decoration: none;
    font-variant-caps: all-small-caps;
    border-bottom: 4px solid;
    padding-bottom: 1rem;
  }
  h5 > a {
    text-decoration: none;
    font-weight: 100;
  }
  #pasteur-star {
    right: 0px;
    bottom: 0;
    --s-icon-size: 24px;
    --s-icon-rotate: 0deg;
    position: absolute;
    transform: scale(8) rotate(15deg);
    z-index: -1;
  }

  .activities {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
  }
</style>
