<script>
	// Custom stores imports
  import { mapStore } from "./mapStore";
	// Svelte's components imports
  import MapCaption from "./MapCaption.svelte";
  import Space from "./Space.svelte";
	// Transition imports
  import { fly } from "svelte/transition";
  import { cubicInOut } from "svelte/easing";

  export let index, children, viewBox, boundingBox;
  let floor, floorWrapper, wrapperHeight;
  $: {
    if (floorWrapper) {
      boundingBox = floorWrapper.getBoundingClientRect();
      let bBox = floorWrapper.getBBox();
      if (index === $mapStore.map.activeFloor) {
      }
      wrapperHeight =
        (bBox.width / floor.viewBox.baseVal.width) *
        floor.viewBox.baseVal.height;
    }
  }
  let floorScale = $mapStore.floors[index].scale;
  $: {
    if ($mapStore.map.activeFloor !== index && $mapStore.map.isOpen) {
      floorScale = $mapStore.floors[index].scale * 0.8;
    } else {
      floorScale = $mapStore.floors[index].scale;
    }
  }
</script>

<svg
  xmlns="http://www.w3.org/2000/svg"
  style={`transform: translate(0px, ${$mapStore.floors[index].y}px); width: ${
    $mapStore.map.isOpen ? "100%" : "auto"
  }; height:${$mapStore.map.isOpen ? wrapperHeight + "px" : "auto"}`}
  {viewBox}
  class="floor"
  class:homeMap={!$mapStore.map.isOpen}
  class:unfocused={$mapStore.map.activeFloor !== index && $mapStore.map.isOpen}
  id="floor-{index}"
  bind:this={floor}
>
  <defs xmlns="http://www.w3.org/2000/svg">
    <filter id="dropshadow" height="130%">
      <feGaussianBlur in="SourceAlpha" stdDeviation="3" />
      <feOffset dx="2" dy="2" result="offsetblur" />
      <feComponentTransfer>
        <feFuncA type="linear" slope="0.2" />
      </feComponentTransfer>
      <feMerge>
        <feMergeNode />
        <feMergeNode in="SourceGraphic" />
      </feMerge>
    </filter>
  </defs>
  {#if children && children.length != 0}
    <g
      class="floor-wrapper"
      style={`transform: scale(${floorScale});`}
      bind:this={floorWrapper}
      on:pointerdown={mapStore.moveTo(index, floor)}
      transition:fly={{
        y: -200,
        delay: index * 50 + 500,
        easing: cubicInOut,
      }}
    >
      {#each children as child}
        {#if child.tagName == "image"}
          {#if child.properties["data-name"] === "title" && $mapStore.map.isOpen}
            <image
              id={child.properties.id}
              class="title"
              width={child.properties.width}
              height={child.properties.height}
              transform={child.properties.transform}
              xlink:href={"THEME_URL" +
                "/assets/floors/" +
                child.properties["xlink:href"].replace(".png", ".webp")}
              class:hidden={$mapStore.map.activeFloor !== index}
            />
          {:else if child.properties["data-name"] !== "title"}
            <image
              id={child.properties.id}
              width={child.properties.width}
              height={child.properties.height}
              transform={child.properties.transform}
              xlink:href={"THEME_URL" +
                "/assets/floors/" +
                child.properties["xlink:href"].replace(".png", ".webp")}
            />
          {/if}
        {:else if child.tagName == "path" && $mapStore.map.isOpen}
          <Space
            {child}
            on:dialog
            active={$mapStore.map.activeFloor === index}
          />
        {:else if child.tagName === "g" && child.properties["data-name"] === "map-caption" && $mapStore.map.activeFloor === index && $mapStore.map.isOpen}
          {#each child.children as caption}
            <!-- content here -->
            <MapCaption {caption} />
          {/each}
        {/if}
      {/each}
    </g>
  {/if}
</svg>

<style>
  .floor {
    position: absolute;
    z-index: 1;
    transition: transform 500ms ease-in-out;
    overflow: visible;
    pointer-events: none;
  }
  g.floor-wrapper {
    transform-origin: center;
    transition: transform 200ms ease, opacity 500ms linear;
    pointer-events: all;
  }
  .unfocused .floor-wrapper {
    cursor: pointer;
    opacity: 0.5;
  }
  .unfocused > .floor-wrapper:hover {
    opacity: 0.7;
  }
  :global(.unfocused .floor-wrapper g) {
    pointer-events: none !important;
  }
  .title {
    transition: opacity 500ms ease;
  }
  .hidden {
    opacity: 0;
  }
  .homeMap {
    bottom: 0;
  }
</style>
