<script>
	// External libraries imports
  import { parse } from "svg-parser";
	// Custom stores imports
  import { filteredData } from "../queryStore";
  import { mapStore } from "./mapStore";
  import { stateStore } from "../stateStore";
	// UI Imports
  import Svg from "./axo.svg";
  import Button from "svelte-materialify/src/components/Button/Button.svelte";
  import { mdiChevronDown, mdiChevronUp, mdiPlus } from "@mdi/js";
	// Svelte's components imports
  import Dialog from "./Dialog.svelte";
  import Floor from "./Floor.svelte";
  import MapCaption from "./MapCaption.svelte";
	// Transition imports
  import { fade, fly } from "svelte/transition";
  import { onMount } from "svelte";


  export let mapHeight = 0;
  let environmentSVG;

  onMount(() => {
    if (environmentSVG) {
      mapHeight = environmentSVG.clientHeight;
    }
  });

  let boundingBox = [];
  let floatingVisitsOffset = 100;
  $: {
    if (boundingBox.length > 0) {
      floatingVisitsOffset = boundingBox[$mapStore.map.activeFloor].x + boundingBox[$mapStore.map.activeFloor].width;
    }
  }

  function onResize() {
    // We align the floating visits wrapper
    if (map) {
      floatingVisitTopOffset = map.scrollTop + map.clientHeight * 0.1;
    }
    if (environmentSVG) {
      mapHeight = environmentSVG.clientHeight;
    }
  }
  let map;
  let parsedSVG = parse(Svg).children[0];
  let floors = parsedSVG.children.filter((e) => {
    return e.properties["data-name"] == "floors";
  })[0];
  let floorTransform = floors.properties.transform;
  let environment = parsedSVG.children.filter((e) => {
    return e.properties["data-name"] == "environment";
  })[0];
  let dialogActive = false,
    dialogVisits = [];
  // Map interactivity handlers (scroll, click, touch)
  onMount(() => {
    mapStore.moveTo($mapStore.map.activeFloor);
  });
  // TODO: It's a pretty crappy implementation of touch but it's work
  let startY;
  function touchStart(e) {
    startY = e.changedTouches[0].clientY;
  }
  function touchEnd(e) {
    let endY = e.changedTouches[0].clientY;
    if (Math.abs(endY - startY) > 50) {
      if (endY - startY < 0) {
        let e = document.getElementById(
          "floor-" + ($mapStore.map.activeFloor + -1)
        );
        mapStore.decrement(e);
      }
      if (endY - startY > 0) {
        let e = document.getElementById(
          "floor-" + ($mapStore.map.activeFloor + 1)
        );
        mapStore.increment(e, map);
      }
    }
    startY = 0;
  }
  function transitionend(e) {
    if (
      $mapStore.map.isOpen &&
      e.target.nodeName == "svg" &&
      e.propertyName == "transform"
    ) {
      setTimeout(() => {
        mapStore.moveTo($mapStore.map.activeFloor);
      }, 500);
    }
  }

  let floatingVisitTopOffset;
  function onScroll() {
    mapStore.scrollStart();
    // We align the floating visits wrapper
    if (map) {
      floatingVisitTopOffset = map.scrollTop + map.clientHeight * 0.1;
    }
    // Set a timeout to run after scrolling ends
    setTimeout(function () {
      // Run the callback
      mapStore.scrollEnd();
    }, 66);
  }
  function handleSpaceDialog(event) {
    dialogVisits = event.detail.visits;
    dialogActive = true;
  }
  function handleVisitDialog(visit) {
    dialogVisits = visit;
    dialogActive = true;
  }
  // We create and array of visits which don't match space's id
  let unmatchedPlaces;
  let nextFloorVisits;
  let previousFloorVisits;
  $: {
    let mapPlacesId = floors.children.map((place) => {
      // return an array of places id's in the svg
      return place.children
        .filter((e) => {
          return e.tagName == "path";
        })
        .map((place) => {
          return place.properties["data-name"];
        });
    });
    if (!$mapStore.map.isNextFloorDisabled) {
      nextFloorVisits = $filteredData.filter((visit) => {
        return (
          mapPlacesId
            .slice($mapStore.map.activeFloor + 1, mapPlacesId.length)
            .flat()
            .indexOf(visit.data.place[0].slug) != -1
        );
      });
    }
    if (!$mapStore.map.isPreviousFloorDisabled) {
      previousFloorVisits = $filteredData.filter((visit) => {
        return (
          mapPlacesId
            .slice(0, $mapStore.map.activeFloor)
            .flat()
            .indexOf(visit.data.place[0].slug) != -1
        );
      });
    }
    unmatchedPlaces = $filteredData.filter((visit) => {
      return (
        visit.data.place.filter((visitPlaces) => {
          if (visitPlaces) {
            return mapPlacesId.flat().indexOf(visitPlaces.slug) == -1;
          }
        }).length != 0
      );
    });
  }

</script>

<svelte:window on:resize={onResize} />

{#if $mapStore.map.isOpen}
  <div in:fade|local={{ delay: 800 }} out:fade>
    {#if !$mapStore.map.isNextFloorDisabled}
      <div
        transition:fly|local={{ y: -20 }}
        style="position: absolute; top:5px; left: 50%; transform: translate(-50%, 0); z-index:2; cursor:pointer;"
      >
        <!-- We show the button if we can increment -->
        <Button
          fab
          size="x-small"
          style="cursor:pointer;"
          on:click={() => mapStore.increment()}
        >
          {#if nextFloorVisits.length > 1}
            <div style="width:24px; position:absolute; top:0;">
              {#each nextFloorVisits.slice(0, 4) as visit, i}
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  style="position: fixed; top:0; transform: translate(-50%,{i *
                    4}px)"
                >
                  <path d={mdiChevronUp} fill={visit.data.color} />
                </svg>
              {/each}
            </div>
          {:else if nextFloorVisits.length == 1}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              style="position: absolute;"
            >
              <path d={mdiChevronUp} fill={nextFloorVisits[0].data.color} />
            </svg>
          {:else}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              style="position: absolute;"
            >
              <path d={mdiChevronUp} />
            </svg>
          {/if}
        </Button>
      </div>
    {/if}
    {#if !$mapStore.map.isPreviousFloorDisabled}
      <div
        transition:fly={{ y: 20 }}
        style="position: absolute; bottom:5px; left: 50%; transform: translate(-50%, 0); z-index:2;"
      >
        <!-- We show the button if we can decrement -->
        <Button
          fab
          size="x-small"
          style="cursor:pointer;"
          on:click={() => mapStore.decrement()}
        >
          {#if previousFloorVisits.length > 1}
            <div style="width:24px; position:absolute; top:0;">
              {#each previousFloorVisits.slice(0, 4) as visit, i}
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  style="position: fixed; top:0; transform: translate(-50%,{i *
                    4}px)"
                >
                  <path d={mdiChevronDown} fill={visit.data.color} />
                </svg>
              {/each}
            </div>
          {:else if previousFloorVisits.length == 1}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              style="position: absolute;"
            >
              <path
                d={mdiChevronDown}
                fill={previousFloorVisits[0].data.color}
              />
            </svg>
          {:else}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              style="position: absolute;"
            >
              <path d={mdiChevronDown} />
            </svg>
          {/if}
        </Button>
      </div>
    {/if}
  </div>
{/if}
<div
  id="map"
  bind:this={map}
  on:transitionend={transitionend}
  on:touchstart|passive={touchStart}
  on:touchend|passive={touchEnd}
  on:scroll={onScroll}
  class:home-map={$stateStore.state == 0}
  style="height:{$mapStore.map.isOpen ? '100%' : mapHeight + 'px'}"
  out:fade={{ duration: 500 }}
>
  {#if environment}
    {#if $stateStore.state == 0}
      <!-- If map is closed, we display the environment -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewbox={parsedSVG.properties.viewBox}
        style="position: absolute; z-index:2;"
        in:fade={{ delay: 500 }}
        out:fade
        bind:this={environmentSVG}
        class:homeMap={$stateStore.state == 0}
      >
        {#each environment.children as children, i}
          {#if children.tagName == "image"}
            <g transform={environment.properties.transform}>
              <image
                width={environment.children[0].properties.width}
                height={environment.children[0].properties.height}
                transform={environment.children[0].properties.transform}
                xlink:href={"THEME_URL" +
                  "/assets/floors/" +
                  environment.children[0].properties["xlink:href"].replace(
                    ".png",
                    ".webp"
                  )}
              />
            </g>
          {:else}
            <MapCaption
              caption={children}
              flyPositionY={-200}
              flyDelay={1200}
            />
          {/if}
        {/each}
      </svg>
    {/if}
  {/if}
  {#each floors.children as floor, i}
    <Floor
      index={i}
      children={floor.children}
      viewBox={parsedSVG.properties.viewBox}
      bind:boundingBox={boundingBox[i]}
      on:dialog={handleSpaceDialog}
    />
  {/each}
  {#if $stateStore.state == 1 && $mapStore.map.activeFloor != 0 && $mapStore.map.activeFloor != $mapStore.map.floorNumber - 1}
    <div
      id="floating-visits"
      style="top: {floatingVisitTopOffset}px; left: calc({floatingVisitsOffset}px - 4em);"
      on:click={handleVisitDialog(unmatchedPlaces)}
      in:fly={{ x: 75, y: -50, delay: 800 }}
      out:fade
    >
      {#each unmatchedPlaces.slice(0, 2) as visit}
        <div
          class="floating-visit"
          style="background-color: {visit.data.color};"
          transition:fade|local
        />
      {/each}
      {#if unmatchedPlaces.length > 2}
        <div
          class="floating-visit-plus"
          style="background-color: #fff;"
          transition:fade
        >
          + {unmatchedPlaces.length - 2}
        </div>
      {/if}
    </div>
  {/if}
</div>

<Dialog visits={dialogVisits} bind:active={dialogActive} />

<style>
  #map {
    width: 100%;
    margin: auto;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    overscroll-behavior-y: contain;
    scroll-behavior: smooth;
    touch-action: none;
  }
  .home-map {
    width: 100% !important;
    position: absolute !important;
    bottom: 0 !important;
    touch-action: auto !important;
    overflow: visible !important;
  }
  #floating-visits {
    position: absolute;
    cursor: pointer;
    top: 0;
    transform: rotate(308deg);
    display: grid;
    transition: left ease-in-out 200ms;
    z-index: 99;
  }
  .floating-visit {
    width: 20px;
    height: 20px;
    border: solid #fff 2px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: transform ease-in-out 200ms;
    transform: rotate(50deg);

  }
  .floating-visit:hover {
    transform: scale(1.2);
  }
  .floating-visit-plus {
    width: 25px;
    height: 25px;
    margin: 10px;
    border-radius: 50%;
    text-align: center;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    transform: rotate(50deg);
  }
  @media screen and (min-width: 800px) {
    .floating-visit,
    .floating-visit-plus {
      width: 30px;
      height: 30px;
    }
  }
  @media screen and (orientation: portrait) and (max-width: 800px) {
    .home-map {
      width: 150% !important;
      left: 50%;
      transform: translateX(-50%);
    }
  }
</style>
