<script>	
  // Transition imports
  import { fade, fly } from "svelte/transition";

  export let caption,
    flyDuration = 500,
    flyDelay = 0,
    flyPositionY = 0;
</script>

<g class="map-caption" transition:fly={{ y: flyPositionY, delay: flyDelay, duration: flyDuration }}>
  {#each caption.children as captionItem}
    <!-- content here -->
    {#if captionItem.tagName === "text"}
      <!-- content here -->
      <text transform={captionItem.properties.transform}
        >{captionItem.children[0].value}</text
      >
    {:else if captionItem.tagName === "g"}
      <!-- else if content here -->
      {#each captionItem.children as item}
        <!-- content here -->
        {#if item.tagName === "polyline"}
          <!-- content here -->
          <polyline points={item.properties.points} />
        {:else if item.tagName === "circle"}
          <!-- else if content here -->
          <circle
            cx={item.properties.cx}
            cy={item.properties.cy}
            r={item.properties.r}
          />
        {:else if item.tagName === "polygon"}
          <!-- else if content here -->
          <polygon points={item.properties.points} />
        {/if}
      {/each}
    {:else if captionItem.tagName === "image"}
      <image
        xlink:href={"THEME_URL" +
          "/assets/floors/" +
          captionItem.properties["xlink:href"]}
        transform={captionItem.properties.transform}
        height={captionItem.properties.height}
        width={captionItem.properties.width}
      />
    {/if}
  {/each}
</g>

<style>
  .map-caption {
    opacity: 0.9;
  }
  text {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
  }
  polyline {
    stroke: #000;
    stroke-linecap: round;
    stroke-width: 1.5px;
    fill: none;
    stroke-miterlimit: 10;
  }
</style>
