<script>
	// Custom stores imports
  import { stateStore } from "../stateStore";
	// Svelte's components imports
  import Map from "./Map.svelte";
	// Transition imports
  import { quintInOut } from "svelte/easing";
  import { slide } from "svelte/transition";

  let mapHeight;
</script>

<div
  id="map-wrapper"
  style="height:{$stateStore.state != 0 ? '60vh' : mapHeight + 'px'}"
  out:slide={{ easing: quintInOut, duration: 500 }}
>
  <Map bind:mapHeight />
</div>

<style>
  #map-wrapper {
    width: 100%;
    position: relative;
    transition: box-shadow 500ms ease;
    align-self: flex-end;
    flex-grow: 1;
    margin: auto;
    overflow: hidden;
  }
</style>
