<script>
	// External libraries imports
  import md5 from 'crypto-js/md5';
	// Custom stores imports
  import { filteredData } from "../queryStore";
	// Svelte's components imports
  import SpacePath from "./SpacePath.svelte";

  export let child, active;

  let matchedVisits = [],
  oldmatchedVisitsIds = [],
  matchedVisitsIds = [];
  $: {
    matchVisits($filteredData);
  }
  function matchVisits(filteredData) {
    oldmatchedVisitsIds = matchedVisits.map((visit) => visit.databaseId);
    let matches = filteredData.filter((visit) => {
      return visit.data.place.find((place) => {
        if (place != null) {
          return place.slug === child.properties["data-name"];
        }
      });
    });
    matchedVisitsIds = matches.map((visit) => visit.databaseId);
    if (JSON.stringify(matchedVisitsIds) !== JSON.stringify(oldmatchedVisitsIds)) {
      matchedVisits = matches;
    }
  }

  function generateMD5Hash(object) {
    return md5(JSON.stringify(object)).toString().substring(0, 8)
  }

</script>

{#key matchedVisits}
  {#if matchedVisits.length >= 2}
    <pattern
      id="pattern-{generateMD5Hash(matchedVisitsIds)}"
      width={(matchedVisits.length - 1) * 10}
      height="10"
      patternUnits="userSpaceOnUse"
    >
      {#each matchedVisits as matchedVisit, i}
        <line
          stroke={matchedVisit.data.color}
          stroke-width="5"
          x1={i * 10}
          x2={i * 10}
          y2="10"
        />
        <line
          stroke="#fff"
          stroke-width="5"
          x1={i * 10 + 5}
          x2={i * 10 + 5}
          y2="10"
        />
      {/each}
    </pattern>

    <SpacePath
      id={child.properties["data-name"]}
      d={child.properties.d}
      transform={child.properties.transform}
      fill={`url(#pattern-${generateMD5Hash(matchedVisitsIds)})`}
      {matchedVisits}
      {active}
      on:dialog
    />
  {:else if matchedVisits.length == 1}
    <SpacePath
      id={child.properties["data-name"]}
      d={child.properties.d}
      transform={child.properties.transform}
      fill={matchedVisits[0].data.color}
      {matchedVisits}
      {active}
      on:dialog
    />
  {/if}
{/key}
