<script>
	// Svelte's components imports
  import { createEventDispatcher } from "svelte";
	// Transition imports
  import { fly, fade } from "svelte/transition";

  const dispatch = createEventDispatcher();
  export let matchedVisits = [],
    active,
    id,
    d,
    fill,
    transform;

  let transitionToUse = active ? fly : fade;
  function openDialog() {
    // Function which find placeId's corresponding visits

    dispatch("dialog", {
      visits: matchedVisits,
    });
  }
</script>

  <g
    class="space-path"
    in:transitionToUse={{ y: 15, duration: 500, delay: 800, opacity: 0.1 }}
    out:fade={{ duration: 100 }}
  >
    <path
      {id}
      {d}
      class="space"
      {fill}
      stroke="#fff"
      stroke-width="2px"
      {transform}
      on:click={openDialog}
      class:raised={active}
      filter="url(#dropshadow)"
    />
  </g>

<style>
  .space-path {
    transition: all 200ms ease;
  }
  .space {
    transform: translateY(0px);
    transition: transform 200ms ease;
    opacity: 1;
    cursor: pointer;
  }
  .raised {
    transform: translateY(-15px);
  }
  .raised:hover {
    transform: translateY(-13px);
  }
  .raised:active {
    transform: translateY(-10px);
  }
</style>
